.course-panel{
    height:200px !important;
}

.course-review {

}

h2{color:#003f80;}

.course-summary > div h4{
    font-weight:bold;
}
.fa-star, .fa-star-o {color:orange; font-size:1.2em;
}

#home-banner
{
    background-image:url("../images/banner.jpg");
    width:1145px;
    height:400px;
}

.navbar-inverse
{
    background-color:#003f80;
    color:#fff;
}

    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

footer{ border-top:solid 1px #ccc; padding-top:20px; margin-top:20px;}